@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px         Phone
601 - 900px       Tablet-portrait
901 - 1200px      Tablet-landscape
[1201 - 1800px] is where our normal styles apply
1801px + :        Big desctop 

$size argument choices:
- phone
- tab-port
- tab-land
- desctop-big

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin for-size($size) {
  @if $size == tab-land {
    @media only screen and (max-width: 75em) {
      @content; // 1200px
    }
  } @else if $size == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content; // 900px
    }
  } @else if $size == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  } @else if $size == desctop-big {
    @media only screen and (min-width: 112.5em) {
      @content; // 1800px
    }
  }
}
